@import 'base/variables';

@import 'base/normalize';
@import 'base/global';
@import 'animations';

#app-container,
#app-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	 flex-basis: 0;
}

#app-container {
	width: 100vw;
	height: 100vh;
	background-color: black;
	color: white;
	font-size: 7rem;
	transition: opacity 0.5s linear;
	&.sleep {
		opacity: 0;
	}
}


#app-content {
	.app-content_item {
		margin: 0 3rem; 
	}	
}

.app-content_item.animate {
	opacity: 1;
	animation: intro_easeIn 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

#subway-logo {
	width: 30vw;
	height: 30vw;
}

#subway-times {
	animation-delay: 0.05s;
	
	#subway-times_first {
		
	}

	#subway-times_second {
		
	}
}